body
{
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}
header  
{
    text-align: center;
    color: white;
}
section 
{
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    text-align: center;
}
div 
{
    padding: 15px;
}

footer
{
    text-align: center;
    color: white;
    font-style: italic;
}